name: Go

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'src/cloud/**'
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      working-directory: ./src
      run: go build -v main.go

    - name: Test
      working-directory: ./src
      run: go test -v main.go
